/* Basic Style */
ul {
  margin: 0;
  padding: 0px;
}

li,
h3 {
  list-style: none;
}

input,
button {
  outline: none;
}

.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.page__banner {
  margin: 0 auto;
}

.banner {
  width: 500px;
  display: block;
  text-align: right;
}

.banner_header {
  display: none;
}

.banner__img {
  width: 100%;
}

.banner__more-inf {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .page__banner {
    text-align: center;
  }
  
}

.page__todo-list {
  margin: 0 auto 0;
}

.todo-list {
  display: block;
  width: 500px;
}

.new-task-wrapper {
  display: flex;
  margin-bottom: 12px;
}

.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3a3a;
}

/* Heading */

.todo-list__header {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.new-task-wrapper__new-task,
.li-item__task {
  margin: 0; 
  padding: 0 9px;
}

.input-task {
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;  
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.input-task:focus {
  color: #333;
}

/* New Task */
.new-item-title {
  display: block;
  margin: 10px 0 20px;
}

.new-task-wrapper__new-task {
  width: 318px;
}

/* Task list */

.li-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.li-item > * {
  vertical-align: middle;
}

.li-item > .li-item__completion {
  margin: 0 10px;
}

.li-item__label{
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.li-item > .li-item__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.li-item > .input-task {
  width: 226px;
}

.delete-button .delete-button__delete-icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.delete-button .delete-button__delete-icon:hover {
  transform: rotateZ(0);
}

/* Completed */
.complete-tasks .li-item__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.li-item .input-task {
  display: none;
}

.li-item.edit-mode .input-task {
  display: inline-block;
  width: 224px;
}

.li-item.edit-mode .li-item__label {
  display: none;
}